.modal-window__blur {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--color-blur);
}

.modal-window__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.modal-window__popup {
    z-index: 3;
    display: flex;
    background-color: var(--color-white);
    position: relative;
}

.modal-window__add-comment {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 20px;
}

.add-comment__img {
    margin-bottom: 40px;
}

.add-comment__name {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
}

.add-comment__text {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    outline: none;
}

.add-comment__btn {
    width: 100%;
    height: 50px;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    border: none;
    cursor: pointer;
}

.modal-window__comments {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    width: 300px;
}

.comments__name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.comments__text {
    font-size: 15px;
    margin-bottom: 20px;
}

.modal-window__button {
    outline: none;
    border: none;
    position: absolute;
    top: 9px;
    right: 13px;
    background: none;
    cursor: pointer;
}

.button__img {
    font-size: 25px;
}